/* @media screen and (min-width: 426px) { */
body {
  display: flex;
  flex-direction: column;
}

a:link {
  text-decoration: none;
}

.profile {
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}
.profile img {
  padding-bottom: 50px;
  padding-top: 30px;
  border-radius: 50%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  padding-bottom: 20%;
  text-align: center;
  font-size: 25px;
}
.about div {
  margin-bottom: 350px;
  background-color: #FFFAF0;
}

.about p {
  font-size: 70%;
}

.experience {
  margin-top: 30%;
}

.project {
  text-align: center;
  background-color: red;
  padding-top: 20%;
  scroll-margin-top: 20px;
}

.project h3 {
  /* padding-bottom: 100px; */
  margin-bottom: 100%;
  font-size: 40px;
}

.project-1 {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  margin-bottom: 100px;
}
.project-2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.project-1 img {
  height: 50%;
  width: 50%;
  flex: 50%;
  /* border-radius: 5%; */
}
.project-2 img {
  height: 50%;
  width: 50%;
  flex: 50%;
  /* border-radius: 5%; */
}

.kinthera {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  /* border-style: solid; */
  flex: 50%;
  padding-top: 100px;
  font-size: 17px;
}

.yelpcamp {
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
  /* border-style: solid; */
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 17px;
  flex: 50%;
}

.skill h3 {
  text-align: center;
  /* margin-bottom: 50px; */
  padding-top: 20%;
  margin-bottom: 400px;
  scroll-margin-top: 20px;
  font-size: 40px;
  background-color: blue;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background-color: yellow;
}

.technologies section {
  flex: 10%;
  margin: 100px;
  height: 50px;
  width: 50px;
}

.connect h3 {
  text-align: center;
  font-size: 30px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: brown;
  scroll-margin-top: 20px;
}

.connect div {
  padding-top: 5%;
}

.code-compile {
  text-align: center;
  scroll-margin-top: 100px;
}

.code-compile img {
  width: 60%;
}

footer {
  justify-content: space-around;
  text-align: center;
  font-size: 20px;
}
footer a {
  margin-left: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 426px) {
  .profile img {
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 50%;
    width: 70%;
  }

  .profile {
    justify-content: center;
    text-align: center;
    padding-bottom: 70%;
    padding-top: 50%;
    background-color: #FFFAF0;
  }

  .about {
    background-color: lightblue;
    padding-top: 50%;
  }
  .experience {
    margin-left: 10px;
    margin-right: 10px;
  }
  .project {
    background-color: blue;
  }
  .skill {
    background-color: yellow;
  }
  .tools {
    margin-top: 300px;
  }

  .connect {
    background-color: brown;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  footer {
    background-color: grey;
    font-size: 15px;
  }

  .project {
    padding-top: 80%;
  }

  .project-1 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50%;
    margin-bottom: 100px;
  }
  .project-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .project-2 {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    margin-bottom: 100px;
  }
  .project-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .tools {
    display: flex;
    flex-direction: column;
  }
  .skill h3 {
    text-align: center;
    scroll-margin-top: 20px;
    font-size: 40px;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    justify-content: space-around;
  }
  .technologies a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .technologies section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
